    
    .popup__mobile{
        display: none;
        position: fixed;
        width: 100%;
    top: 0;
    left: 0;
      z-index: 4;
        
    }
    .header__mobile_container {
        background-color: #1A1B22;
    }
    .popup__mobile_opened {
        display: block;
    }
    .header__mobile::before {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        background-color: rgba(0, 0, 0, .5);
    }
    .header__mobile {
        
        display: flex;
        justify-content: space-between;
        box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    }
    .header__mobile_logo {
        font-family: 'Roboto Slab', 'Arial', sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        margin: 16px 0px 16px 16px;
        text-decoration: none;
        color: white;
        
    }
    .header__mobile_menu {
        display: flex;
        flex-direction: column;
        
    }
    .navigation__image-exit {
        margin-left: 10px;
    }
    .header__mobile_button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        border: 1px solid #FFFFFF;
        width: 288px;
        height: 56px;
        background: none;
        color: #FFFFFF;
        margin-top: 16px;
        margin-bottom: 24px;
        cursor: pointer;
        outline: none;
        
    }
    .header__mobile_button:hover {
        transition: opacity 0.5s;
        opacity: 0.4;
    }
    .navigation__mobile_link:hover {
        transition: opacity 0.5s;
        opacity: 0.4;
    }
    .popup__mobile_close:hover {
        transition: opacity 0.5s;
        opacity: 0.4;
    }
    .navigation__mobile_links-line {
        margin-bottom: 25px;
        list-style-type: none;
    }
    .header__mobile_button-active {
        display: none;
    }
    .navigation__mobile_link {
        font-family: 'Roboto', 'Arial', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
    
        
        color:white;
    }
    .navigation__mobile_link-disable {
        display: none;
    }
    .header__mobile_button-dark-link {
        text-decoration: none;
    }
    .header__mobile_button-dark{
        display: none;

        margin-top: 19px;
        border-radius: 100px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        border: 1px solid #ffffff;
        width: 288px;
        height: 56px;

        margin-bottom: 24px;

        background: none;
        color: #ffffff;
        outline: none;
        cursor: pointer;
    }
    .header__mobile_button-dark-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .popup__mobile_close {
        background-image: url(../../images/exit-mobile.png);
        margin-top: 16px;
        margin-right: 16px;
        background-color: initial;
        background-position: center;
        border: none;
        width: 24px;
        height: 24px;
    }
    .navigation__mobile_links {
        padding: 0px;
        margin-left: 16px;
    
    }
    .header__mobile_position {
        margin: 0 auto;
    }
    .navigation__mobile_links-line:last-child {
        margin-bottom: 0px;
    }